@font-face {
    font-family: "font-1";
    src: url(./font/Ubuntu-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font-1";
}


input {
    display: none;
}

label {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    padding: 3% 0%;
    text-align: center;
    color: white;
    background: black;
    font-size: 1.3em;
    transition: 0.3s ease;
}

label:hover {
    background: #f5f8f0;
    color: black;
}

#section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f5f8f0;
}

h1 {
    margin: 2% auto;
    font-size: 3.5em;
    position: relative;
}

h1::after {
    content: '';
    background: black;
    height: 5px;
    width: 200px;
    position: absolute;
    bottom: -50%;
    left: 29%;
}

#img-flag {
    width: 25%;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 black;
}

.answer-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 50%;
    margin: 0 auto;
    gap: 50px
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 3% auto;
    font-size: 1.3em;
}

@media screen and (max-width: 1300px) {
    #img-flag {
        width: 35%;
    }
    .answer-container {
        margin-top: 30px;
        width: 60%;
    }
    .info-container {
        margin-top: 50px;
    }
}
@media screen and (max-width: 1074px) {
    #img-flag {
        width: 35%;
    }
    .answer-container {
        grid-template-rows: 2fr 2fr;
    }
    .info-container {
        margin-top: 50px;
    }
    label {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 900px) {
    #img-flag {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    #img-flag {
        width: 40%;
    }

    .answer-container {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    #img-flag {
        width: 50%;
    }

    .answer-container {
        width: 80%;
        grid-template-rows: 100px 100px;
    }

    
}
@media screen and (max-width: 550px) {
    #img-flag {
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    h1::after {
        display: none;
    }

    .answer-container {
        width: 80%;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
    }
    
}

@media screen and (max-width: 400px) {
    #img-flag {
        width: 60%;
    }

    .answer-container {
        width: 90%;
    }
}


@media screen and (max-width: 350px) {
    #img-flag {
        width: 80%;
    }

    label {
        padding: 5% 0;
        height: 70px;
    }

    .answer-container {
        gap: 30px;
        /* height: 50%; */
    }

    .info-container {
        width: 90%;
    }
}
@media screen and (max-width: 300px) {
    #img-flag {
        width: 90%;
    }
}